---
import CapabilityTitle from "../../typography/services-page-typography/CapabilityTitle.astro";
import CapabilityCategory from "../../typography/services-page-typography/CapabilityCategory.astro";
import CapabilityDescription from "../../typography/services-page-typography/CapabilityDescription.astro";

const { title, category, description } = Astro.props;
---

<section class="grid grid-cols-10 col-span-10 px-12 h-screen pt-32 border-t border-[rgba(0,0,0,0.2)]">
  <div class="col-span-3">
    <CapabilityTitle>{title}</CapabilityTitle>
  </div>

  <div class="col-start-5 col-span-5 gap-x-[6px] pt-[10px]">
    {category.map((cat, index) => (
      <div class="flex flex-col pb-[62px] space-y-2">
        <CapabilityCategory>{cat}</CapabilityCategory>
        <CapabilityDescription>{description[index]}</CapabilityDescription>
      </div>
    ))}
  </div>
</section>

