---
import Base from "../../layouts/Base.astro";
import { locales } from "../../utils/i18n.config";

export function getStaticPaths() {
  const paths = locales.map((locale) => {
    return { params: { locale } };
  });
  return paths;
}

const { locale } = Astro.params;
const entry = Astro.props;
---

<Base title="Index">
  <h1>Indet</h1>
  <pre>Locale: {locale}</pre>
</Base>
