---
import Socials from "./Socials.astro";
const locale: string = Astro.currentLocale as string;
---

<footer class="h-[561px] bg-[#121315] pt-[200px] pb-[48px] pl-[48px] pr-[12px]">
  <div>
    <Socials css="" />
  </div>
</footer>
