---
import navigation from "../../data/Navigation";
const locale: string = Astro.currentLocale as string;

const Path = Astro.url.pathname;
const PageSlug = Path.slice(4);

const { css } = Astro.props;
---

<nav class:list={css}>
  <ul class="w-full space-y-[14px] text-right">
    {
      Object.entries(navigation[locale]).map(([item, name]) => (
       <li class="text-sm uppercase relative">
        <a href={`/${locale}/${item}/`} 
           class:list={[
             PageSlug === (item + "/") || PageSlug === name + "/" 
             ? ["font-bold", "text-neutral-950", "border-b-[2px] border-black w-fit"]
             : ""
           ]}>
          {name}
        </a>
      </li>
      ))
    }
  </ul>
</nav>

<script></script>
